[init]
    defaultBranch = main
[user]
    email = mail@paulschilling.de
[core]
    excludesfile = ~/.gitignore
	editor = nano
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[alias]
    dt = difftool -d
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[push]
    autoSetupRemote = true

[tig "color"]
    # area = fg bg
	cursor = black white 
