# Developer files
__pycache__
.idea
.vimspector.json
.env
venv/
*-main
dj-test.sh
.mypy_cache/

# Config files
mypy.ini
setup.cfg

# Other
/tags

# files
*.pdf

#
*/scratches/
*scratch*
code_snippets*
djtest.sh
dev_snippets*
