# Developer files
.env
.pre-commit-config.yaml
.pyre/
.pyre_configuration
.vim-sessions/
dev_tools
djtest.sh
*-main
private.txt
setup.cfg
test-cert.crt
test-cert.key
venv/
docker-init-db.sql/*

# Editor and program files
.idea
.mypy_cache/
__pycache__
.watchmanconfig
/tags

# files
*.pdf
