# Developer files
.env
.pre-commit-config.yaml
.pyre/
.pyre_configuration
.vim-sessions/
dev-tools
djtest.sh
Dockerfile.dev
docker-compose.dev.*
docker-init-db.sql/*
*-main
private.txt
setup.cfg
test-cert.crt
test-cert.key
venv/
*.orig
*.vim

# Editor and program files
.idea
.mypy_cache/
__pycache__
.watchmanconfig
/tags

# misc.
history.sqlite
